<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.tiagohs.popmovies">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".ui.view.activity.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.view.activity.LoginActivity">

        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />

        <activity android:name=".ui.view.activity.HomeActivity"
                  android:label="@string/title_activity_home"
                  android:theme="@style/AppTheme"/>

        <activity
            android:name=".ui.view.activity.MovieDetailActivity"
            android:label="@string/title_activity_movie_detail"
            android:parentActivityName=".ui.view.activity.HomeActivity" />
        <activity
            android:name=".ui.view.activity.SearchActivity"
            android:label="@string/title_activity_search"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:parentActivityName=".ui.view.activity.HomeActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.tiagohs.popmovies.ui.view.activity.HomeActivity" />
        </activity>
        <activity
            android:name=".ui.view.activity.GenresActivity"
            android:label="@string/title_activity_genres"
            android:parentActivityName=".ui.view.activity.HomeActivity" />
        <activity
            android:name=".ui.view.activity.ListsDefaultActivity"
            android:label="@string/title_activity_list_movies_default"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.view.activity.PersonDetailActivity"
            android:label="@string/title_activity_actor_details" />
        <activity
            android:name=".ui.view.activity.VideosActivity"
            android:label="@string/title_activity_videos_details" />
        <activity
            android:name=".ui.view.activity.WallpapersDetailActivity"
            android:label="@string/title_activity_wallpapers_details" />
        <activity
            android:name=".ui.view.activity.WallpapersActivity"
            android:label="@string/wallpapers_title" />
        <activity
            android:name=".ui.view.activity.PerfilActivity"
            android:label="@string/title_activity_perfil"
            android:parentActivityName=".ui.view.activity.HomeActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.view.activity.PerfilEditActivity"
            android:label="@string/title_activity_edit_perfil"
            android:parentActivityName=".ui.view.activity.PerfilEditActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.view.activity.LancamentosSemanaActivity"
            android:label="@string/title_activity_lancamentos_semana"
            android:theme="@style/AppTheme" />
        <activity android:name=".ui.view.activity.SignUpActivity"
                  android:label="@string/title_activity_sign_up"
                  android:theme="@style/AppTheme"/>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="1a5d11d9ee01839d87a101a0056c1e5429a4c331" />

    </application>

</manifest>